page-add {
  .image {
    max-height: 300px;
    border: 5px solid #FFF;
    border-radius: 5px;
  }
  .background {
    background: color($colors, primary);
  }
  .item-round {
    border-radius: 20px;
  }
  ion-textarea {
    height: 150px;
  }
  .icon {
    line-height: 1;
  }
}
